build
!.vscode/*
.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
out/
*json
*cmake
raspberrypi-swd.cfg
LICENSE.TXT